<a href="https://colab.research.google.com/github/takedatmh/git/blob/master/ImpactAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import yaml

#Read yaml file.
with open('input.yaml') as file:
    obj = yaml.load(file)
    var = (yaml.dump(obj))
    var = list(var.split(","))
    print(var)

FileNotFoundError: ignored

In [7]:
#Create Task List.
list_task = []
    
for i in var:
    if "put" in i:
        if "T1_put" in list_task :
            list_task.append("T5_ctl")
        else:
            list_task.append("T1_put")
    elif "get" in i:
        list_task.append("T2_get")
    elif "post" in i:
        list_task.append("T3_post")
    elif "delete" in i:
        list_task.append("T4_delete")

print(list_task)

NameError: ignored

In [9]:
#Create CRUD list.
list_CRUD = []

for name in list_task:
    print(name)
    if "put" in name:
        list_CRUD.append("C")
    elif -1 != name.find("get"):
        list_CRUD.append("R")
    elif -1 != name.find("post"):
        list_CRUD.append("U")
    elif -1 != name.find("delete"):
        list_CRUD.append("D")
#    elif -1 != name.find("ctl"):
#        list_CRUD.append("U")
        
            
print(list_CRUD)

[]

In [0]:
list_task =   ["T1_put","T2_get","T3_post","T4_delete"],#Task
list_CRUD =   ["C","R","U","D","U"],#Ds1
list_S01_IO =   ["IN","","","",""],#S01_put
list_SO2_IO =  ["","IN OUT","","",""],#So2_get
list_SO3_IO =  ["","","IN","",""],#So3_post
list_SO4_IO =  ["","","","IN",""]#So4_delete

In [12]:
import pandas as pd

df_exCRUD =\
pd.DataFrame([
              ["T1_put","T2_get","T3_post","T4_delete"],#Task
              #["C","R","U","D"],#Ds1
              ["C","R","U","D"],#Ds1
              #["","","","","U"],#Ds2
              ["IN","","",""],#S01_put
              ["","IN OUT","",""],#So2_get
              ["","","IN",""],#So3_post
              ["","","","IN"]#So4_delete
] ).T  #data

#df_exCRUD.columns = ["Task","Ds1","Ds2","So1_put","So2_get","S03_update","So4_delete"]  #カラム名を付ける
df_exCRUD.columns = ["Task","Ds1","So1_put","So2_get","S03_update","So4_delete"]  #カラム名を付ける
df_exCRUD.index   = ["T1","T2","T3","T4"]  #インデックス名を付ける
df_exCRUD

         Task Ds1 So1_put So2_get S03_update So4_delete
T1     T1_put   C      IN
T2     T2_get   R          IN OUT
T3    T3_post   U                         IN
T4  T4_delete   D                                    IN

In [13]:
#Retreave P{T}.

import pandas as pd
#exCRUDからDsに対してCUDの物を取り出す
df_PT = df_exCRUD.query("Ds1 == 'C' | Ds1 == 'U' | Ds1 == 'D' ")

df_PT['Task']

T1       T1_put
T3      T3_post
T4    T4_delete
Name: Task, dtype: object

In [14]:
import pandas as pd
df_maxCRUD =\
pd.DataFrame([
              ["N","Y","Y","Y"],
              ["N","N","N","N"],
              ["N","Y","Y","Y"],
              ["Y","N","N","N"]
] ).T  #data

df_maxCRUD.columns = ["C_PT", "R_PT", "U_PT", "D_PT"]
df_maxCRUD.index = ["C", "R","U","D"]

df_maxCRUD

  C_PT R_PT U_PT D_PT
C    N    N    N    Y
R    Y    N    Y    N
U    Y    N    Y    N
D    Y    N    Y    N

In [30]:
#P{T}変更タスクを固定する
#p = "T1_put"
#p = "T2_get"
#p = "T3_post"
p = "T4_delete"
p

'T4_delete'

In [31]:
#拡張CRUDから変更タスクのCRUD属性を検索する
df_PT_CRUD = df_exCRUD.query("Task == @p")
df_PT_CRUD
PT_CRUD = df_PT_CRUD.iloc[0,1]
PT_CRUD

'D'

In [32]:
#固定したPTの持つCRUDの値のmaxCRUDの列情報を取り出し、YのCRUD属性を取り出す。
s = PT_CRUD + "_PT"
#var_tmp = var[0]
#ST_list = list(df_maxCRUD.query("U_PT == 'Y'").index)
ST_list = list(df_maxCRUD.query('{} == "Y"'.format(s)).index)
ST_list

['C']

In [33]:
#拡張CRUDからRUDをDsの属性に持つタスクを抽出する
s_list = []
for i in ST_list:
    tmp = df_exCRUD.query("Ds1 == @i")
    length = (len(list(tmp.index)))
    y = 0
    while y< length:
        print(tmp.iloc[y,0])
        s_list.append(tmp.iloc[y,0])
        y += 1
print(s_list)

T1_put
['T1_put']

In [34]:
#組み合わせを作って表示
result = []
for i in s_list:
    if i == p:
        continue
    result.append(p +' --> '+ i)

result

['T4_delete --> T1_put']